@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider-thumb {
    @apply appearance-none w-3 h-6 bg-black border-2 border-gray-300 rounded-full cursor-pointer shadow;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    @apply slider-thumb;
  }
  
  input[type="range"]::-moz-range-thumb {
    @apply slider-thumb;
  }
  
  input[type="range"]::-ms-thumb {
    @apply slider-thumb;
  }
  /* Hide the number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input[type='radio']:checked {
  background-color: green;
  accent-color: green; /* For modern browsers */
}
}